@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8deaf1');
  src:  url('../fonts/icomoon.eot?8deaf1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8deaf1') format('truetype'),
    url('../fonts/icomoon.woff?8deaf1') format('woff'),
    url('../fonts/icomoon.svg?8deaf1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flag:before {
  content: "\e900";
}
.icon-icon-bar:before {
  content: "\e901";
}
.icon-loop:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-map:before {
  content: "\e904";
}
.icon-tel:before {
  content: "\e905";
}
.icon-time:before {
  content: "\e906";
}
