body {
  font-family: "Lato";
  line-height: 1.2;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.wrap {
  width: 100%;
  padding: 0 15px;
  min-width: 320px;
  max-width: 1000px;
  margin: 0 auto;
}
.h2 {
  font-size: 29px;
  line-height: 1.2;
  font-weight: normal;
}
.h3 {
  font-size: 24px;
  line-height: 1.2;
}
.btn {
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
}
.btn:hover {
  cursor: pointer;
  background-color: #ff0000;
}
.btn--green {
  background-color: #7cc576;
  text-transform: uppercase;
  border: none !important;
  border-radius: 3px;
  text-align: center;
}
.btn--recall {
  padding: 8px 15px;
  color: #fff;
  margin-top: 13px;
  font-size: 11px;
  line-height: 10px;
  float: right;
}
.btn--call {
  color: #000 !important;
  padding: 18px 25px;
  max-width: 267px;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 18px;
}
.btn--complaint {
  margin-top: 15px;
  border: 2px solid #9fd49b;
  border-radius: 70px;
  padding: 20px 55px;
  font-size: 22px;
  background-color: #fff;
}
.btn--complaint:hover {
  color: #fff;
  border-color: #ff0000;
}
.btn--buy {
  display: block;
  color: #fff !important;
  padding: 22px 48px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}
.btn--book {
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 2px;
  margin-right: 8px;
  border: 1px solid #7cc576;
  max-width: 114px;
}
.btn--more {
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  color: #6c6c6c;
  letter-spacing: 2px;
  border: 1px solid #6c6c6c;
  background-color: #fff;
  border-radius: 5px;
}
.btn--more:hover {
  color: #fff;
  background-color: #6c6c6c;
}
.text-grow {
  font-size: 18px;
}
.search-form {
  position: relative;
}
.search-form__text {
  height: 51px;
  line-height: 51px;
  padding: 0 31px 0 15px;
  border: 2px solid #ccc;
  width: 250px;
}
.search-form__text::placeholder {
  color: #000;
  font-family: "Lato";
  font-weight: bold;
  font-size: 15px;
}
.search-form__button {
  position: absolute;
  width: 40px;
  height: 47px;
  top: 2px;
  right: 2px;
  color: transparent;
  border: none;
  font-size: 15px;
  background-color: #fff;
}
.search-form span {
  font-size: 23px;
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 10px;
}
span[class$="--red"] {
  color: #d23546;
}
.phone-link {
  font-size: 23px;
  font-weight: bold;
}
.phone-link span {
  display: inline-block;
  vertical-align: top;
}
.phone-link span:before {
  line-height: 25px;
}
.header-wr .header {
  width: 100%;
  border-bottom: 4px solid #ff0000;
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wr .header .icon-bar {
  display: none;
}
.header-wr .header .icon-bar {
  width: 40px;
  height: 30px;
  background: url('../img/icon-bar.png') no-repeat left top #ffffff;
  background-size: contain;
  border: none;
  margin-left: 25px;
}
.header-wr .header__item-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.header-wr .header__item-center .main-menu {
  list-style: none;
}
.header-wr .header__item-center .main-menu li {
  display: inline;
  margin-right: 13px;
}
.header-wr .header__item .logo {
  display: block;
  margin-right: 13px;
}
.content-wr {
  margin-top: 10px;
}
.content-wr .content:after {
  content: '';
  display: table;
  clear: both;
}
.content-wr .content-col {
  float: left;
  width: 74%;
  padding-right: 20px;
  padding-top: 20px;
}
.content-wr .content-col p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.2;
}
.content-wr .sidebar {
  float: right;
  width: 232px;
  background-color: #ebebeb;
  padding: 30px 15px 25px;
  text-align: center;
}
.content-wr .sidebar__item {
  margin-top: 35px;
}
.content-wr .sidebar__img {
  margin-bottom: 15px;
}
.content-wr .sidebar__text {
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.2;
}
.content-wr .sidebar .sidebar-footer__item {
  margin-top: 65px;
}
.content-wr .sidebar .sidebar-footer__item img {
  width: 98%;
}
.content-wr .sidebar.sidebar--advantages {
  float: none;
  width: 100%;
  padding: 38px 38px 48px;
}
.content-wr .sidebar.sidebar--advantages .sidebar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.content-wr .sidebar.sidebar--advantages .sidebar-list .sidebar__item {
  margin-top: 0;
}
.content-wr .sidebar.sidebar--advantages .sidebar-list .sidebar__text {
  padding: 0 25px;
}
.content-wr .sidebar.sidebar--advantages .sidebar-footer__item {
  margin-top: 45px;
}
.content-wr .sidebar.sidebar--advantages .sidebar-footer__item img {
  width: 215px;
}
.contact-form-wr {
  margin-top: 15px;
}
.contact-form-wr .contact-form {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.contact-form-wr .contact-form:after {
  content: '';
  display: table;
  clear: both;
}
.contact-form-wr .contact-form__left-col {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 30px 35px;
  background-color: #a81d36;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.contact-form-wr .contact-form__left-col img {
  margin-right: 30px;
}
.contact-form-wr .contact-form__text .name {
  font-size: 24px;
  line-height: 1.2;
}
.contact-form-wr .contact-form__text .tel {
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
}
.contact-form-wr .contact-form__text a {
  color: #fff;
}
.contact-form-wr .contact-form__text a:hover {
  text-decoration: underline;
}
.contact-form-wr .contact-form__text p {
  line-height: 1.3;
}
.contact-form-wr .contact-form__right-col {
  width: 50%;
  padding: 35px 0;
}
.contact-form-wr .contact-form__right-col .form {
  text-align: center;
}
.contact-form-wr .contact-form__right-col .form input,
.contact-form-wr .contact-form__right-col .form label {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contact-form-wr .contact-form__right-col .form label {
  margin: 15px 0 10px;
  font-size: 12px;
}
.contact-form-wr .contact-form__right-col .form input {
  padding: 0 15px;
  line-height: 50px;
  border: 2px solid #ccc;
  width: 312px;
  height: 50px;
}
.map-wr {
  margin: 20px 0;
}
.map-wr .map__topline {
  padding: 40px;
  background-color: #e8e8e8;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map-wr .map__col-left {
  display: flex;
  align-items: center;
}
.map-wr .map__col-left img {
  flex-shrink: 0;
  margin-right: 20px;
}
.map-wr .map__col-left .map-text {
  flex-grow: 1;
}
.map-wr .map__col-right .show-map {
  padding: 10px 15px;
  background-color: #fff;
  max-width: 250px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.map-wr .map__col-right .show-map:hover {
  cursor: pointer;
}
.map-wr .map__col-right .show-map._open img {
  transform: rotate(180deg);
}
.map-wr .map__col-right .show-map span {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 12px;
}
.map-wr .map__col-right .show-map img {
  margin-right: 15px;
  transition: all .3s;
}
.map-wr .map__container {
  display: none;
  width: 100%;
}
.map-wr .map__container._open {
  display: block;
}
.footer-wr {
  padding: 0 0 50px;
}
.footer-wr .footer {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  font-size: 14px;
}
.footer-wr .footer__tel {
  margin-top: 20px;
}
.footer-wr .footer__col {
  padding-right: 18px;
}
.footer-wr .footer__col:last-child {
  padding-right: 0;
}
.footer-wr .footer__col a {
  display: block;
  color: #767676;
  margin-top: 10px;
  line-height: 1.5;
  position: relative;
  padding-left: 26px;
}
.footer-wr .footer__col a:after {
  content: '';
  display: table;
  clear: both;
}
.footer-wr .footer__col a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer-wr .footer__col a span.tel-text {
  font-size: 20px;
  font-weight: bold;
}
.footer-wr .footer__col a span[class^="icon"] {
  position: absolute;
  top: 0;
  left: 0;
}
.footer-wr .footer__col a span[class^="icon"]:before {
  font-size: 23px;
}
.footer-wr .footer__logo {
  padding-left: 0 !important;
}
.footer-wr .footer__logo img {
  width: 150px;
}
.complaints {
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
}
.mobile-footer {
  display: none;
  margin-top: 40px;
  width: 100%;
  font-size: 18px;
}
.mobile-footer:after {
  content: '';
  display: table;
  clear: both;
}
.mobile-footer__tel {
  text-align: center;
  font-size: 26px !important;
  font-weight: bold !important;
  margin-bottom: 45px;
}
.mobile-footer__tel span {
  vertical-align: middle;
}
.mobile-footer__col-left {
  float: left;
}
.mobile-footer__col-right {
  float: right;
}
.mobile-footer__col a {
  display: block;
  color: #767676;
  margin-top: 10px;
  line-height: 1.5;
  position: relative;
  padding-left: 26px;
}
.mobile-footer__col a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.mobile-footer__col a span.tel-text {
  color: #000;
}
.mobile-footer__col a span[class^="icon"] {
  position: absolute;
  top: 0;
  left: 0;
}
.mobile-footer__col a span[class^="icon"]:before {
  font-size: 23px;
}
.services-wr {
  margin: 32px 0 20px;
}
.services-wr .services__head {
  text-align: center;
}
.services-wr .services__head .text-grow {
  padding: 35px 35px 50px;
}
.services-wr .services .box-tab .hide {
  display: none;
}
.services-wr .services .box-tab .tab-cont {
  opacity: 1;
  transition: opacity 0.4s;
}
.services-wr .services .box-tab .tab-cont .hide {
  display: none;
}
.services-wr .services .tab-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.services-wr .services .tab-list__item {
  font-size: 19px;
  font-weight: bold;
  background-color: #e8e8e8;
  border-radius: 70px;
  border: 2px solid #e8e8e8;
}
.services-wr .services .tab-list__item a {
  display: block;
  padding: 10px 26px;
}
.services-wr .services .tab-list__item.active {
  background-color: #fff;
  border: 2px solid #7cc576;
}
.services-wr .services .tab-list__item:hover {
  background-color: #fff;
  border: 2px solid #7cc576;
}
.advantages-wr .advantages {
  padding: 40px 24px;
  background-color: #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 25px 0 30px;
}
.advantages-wr .advantages .advantages-list {
  margin-top: 60px;
  display: flex;
  justify-comtent: space-between;
}
.advantages-wr .advantages__item {
  width: 25%;
}
.advantages-wr .advantages__img {
  margin-bottom: 20px;
}
.advantages-wr .advantages__text {
  font-size: 16px;
  padding: 0 30px;
}
.advantages-wr .advantages-plus {
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
}
.advantages-wr .advantages-plus:after {
  content: '';
  display: table;
  clear: both;
}
.advantages-wr .advantages-plus__col {
  width: 33.3333%;
  height: 322px;
  float: left;
  padding: 10px;
}
.advantages-wr .advantages-plus__item {
  height: 302px;
  padding: 26px 42px 32px 42px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.advantages-wr .advantages-plus__text {
  font-size: 19px;
}
.advantages-wr .advantages-plus__heading {
  font-size: 29px;
  margin: 30px 0 35px;
}
.registration-wr {
  margin-top: 20px;
}
.registration-wr.registration-wr--margin {
  margin-top: -6px;
  margin-bottom: 30px;
}
.registration-wr .registration {
  padding: 10px;
  background-color: #ee3124;
  border-radius: 5px;
}
.registration-wr .registration:after {
  content: '';
  display: table;
  clear: both;
}
.registration-wr .registration__footer {
  display: none;
  text-align: center;
}
.registration-wr .registration__footer .alpha-footer {
  display: inline-block;
  border: 2px dashed #fff;
  border-radius: 5px;
  vertical-align: middle;
  margin-top: 20px;
}
.registration-wr .registration__footer .alpha-footer img {
  vertical-align: middle;
  padding: 10px 34px;
  width: 100%;
}
.registration-wr .registration__col-left {
  float: left;
  text-align: center;
  width: 215px;
  line-height: 270px;
}
.registration-wr .registration__col-left .alpha {
  display: inline-block;
  width: 168px;
  height: 168px;
  border: 2px dashed #fff;
  border-radius: 5px;
  vertical-align: middle;
  line-height: 168px;
}
.registration-wr .registration__col-left .alpha img {
  vertical-align: middle;
}
.registration-wr .registration__col-right {
  float: right;
  max-width: 718px;
  background-color: #fff;
  padding: 35px 65px 30px;
}
.registration-wr .registration__col-right .registration-form:after {
  content: '';
  display: table;
  clear: both;
}
.registration-wr .registration__col-right .registration-form .h3 {
  margin-bottom: 17px;
}
.registration-wr .registration__col-right .registration-form .form-col {
  float: left;
  width: 50%;
  margin-bottom: 15px;
}
.registration-wr .registration__col-right .registration-form input {
  padding: 0 15px;
  line-height: 50px;
  border: 2px solid #ccc;
  height: 50px;
  width: 286px;
}
.registration-wr .registration__col-right .registration-form input.btn--call {
  color: #fff !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.registration-wr .registration__col-right .registration-form label {
  display: block;
}
.registration-wr .registration__col-right--img {
  background: url('../img/photo.png') no-repeat left bottom #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.registration-wr .registration__col-right--img .registration-form {
  float: right;
  width: 50%;
}
.registration-wr .registration__col-right--img .registration-form .h3 {
  margin-bottom: 28px;
}
.registration-wr .registration__col-right--img .registration-form .form-col {
  float: none;
}
.registration-wr .registration__col-left--img {
  line-height: 409px;
}
.registration-wr .registration__col-left--img .alpha {
  width: 205px;
  height: 205px;
  display: inline-block;
  line-height: 205px;
}
.registration-wr .registration__col-left--img .alpha img {
  width: 100%;
  padding: 15px;
}
.value:after {
  content: '';
  display: table;
  clear: both;
}
.value__col-left {
  float: left;
  width: 65%;
}
.value__col-left .value-list {
  font-size: 19px;
  font-weight: bold;
  margin-left: 20px;
}
.value__col-left .value-list li {
  margin-top: 30px;
}
.value__col-right {
  float: right;
  width: 314px;
}
.value__col-right .waste-list {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  list-style: none;
  padding-bottom: 20px;
}
.value__col-right .waste-list li {
  padding: 20px 40px 0 25px;
  font-size: 19px;
}
.value__col-right .waste-list li:first-child,
.value__col-right .waste-list li:last-child {
  padding-bottom: 20px;
}
.value__col-right .waste-list__header {
  background-color: #e8e8e8;
  color: #bdbdbd;
  text-transform: uppercase;
  font-size: 12px !important;
  line-height: 2;
}
.other-services {
  margin: 30px 0;
  text-align: center;
}
.other-services .h2 {
  margin-bottom: 30px;
}
.other-services ul {
  list-style: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.other-services ul li {
  margin: 0 11px;
}
.other-services ul.head-list {
  margin-bottom: 25px;
}
.other-services ul.head-list .head__item a {
  display: block;
  border: 2px solid #7cc576;
  border-radius: 70px;
  padding: 10px 25px;
}
.other-services ul.head-list .head__item a:hover {
  background-color: #7cc576;
  color: #fff;
}
.tabs-block .tab-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.tabs-block .tab-list__item {
  font-size: 29px;
  font-weight: bold;
  background-color: #e8e8e8;
  border-radius: 70px;
  border: 2px solid #e8e8e8;
  margin: 0 12px;
  text-align: center;
}
.tabs-block .tab-list__item a {
  display: block;
  padding: 13px 30px;
}
.tabs-block .tab-list__item.active {
  background-color: #fff;
  border: 2px solid #7cc576;
}
.tabs-block .tab-list__item:hover {
  background-color: #fff;
  border: 2px solid #7cc576;
}
.tabs-block .box-tab .hide {
  display: none;
}
.tabs-block .box-tab .tab-cont {
  text-align: center;
  opacity: 1;
  transition: opacity 0.4s;
}
.tabs-block .box-tab .tab-cont .hide {
  display: none;
}
.tabs-block .box-tab .tab-cont .tab-table {
  display: table;
  overflow: hidden;
  width: 100%;
  text-align: left;
  margin-top: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.tabs-block .box-tab .tab-cont .tab-table.hide {
  display: none;
}
.tabs-block .box-tab .tab-cont .tab-table__row {
  display: table-row;
}
.tabs-block .box-tab .tab-cont .tab-table__row:last-child .tab-table__cell {
  border-bottom: none;
}
.tabs-block .box-tab .tab-cont .tab-table__row:hover .tab-table__cell {
  background-color: #fff568;
}
.tabs-block .box-tab .tab-cont .tab-table__row.head:hover .tab-table__cell {
  background-color: transparent;
}
.tabs-block .box-tab .tab-cont .tab-table__cell {
  display: table-cell;
  border-bottom: 1px solid #ccc;
  padding: 18px;
  vertical-align: middle;
}
.tabs-block .box-tab .tab-cont .tab-table__cell .title {
  position: relative;
}
.tabs-block .box-tab .tab-cont .tab-table__cell span b {
  font-size: 19px;
  display: inline-block;
  margin-left: 25px;
}
.tabs-block .box-tab .tab-cont .tab-table__cell span.icon-flag {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
}
.tabs-block .box-tab .tab-cont .tab-table__title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #ccc;
}
.tabs-block .box-tab .tab-cont p {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.tabs-block .box-tab .tab-cont .registration-slider .slick-list {
  margin-left: -1px;
  margin-right: -1px;
}
.tabs-block .box-tab .tab-cont .registration-slider .slick-dots li button:before {
  font-size: 14px;
  color: #7cc576;
}
.tabs-block .box-tab .tab-cont .registration-slider__slide a {
  display: block;
  height: 156px;
  padding: 15px 4px 18px;
  border: 1px solid #fff;
}
.tabs-block .box-tab .tab-cont .registration-slider__slide a.active {
  background-color: #fff568;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.tabs-block .box-tab .tab-cont .registration-slider__slide p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}
.tabs-block .box-tab .tab-cont .registration-slider__slide p.slide__name {
  overflow: hidden;
  height: 60px;
  margin-bottom: 15px;
  line-height: 60px;
}
.tabs-block .box-tab .tab-cont .registration-slider__slide p.slide__name span {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
.tabs-block .box-tab .tab-cont .registration-slider__slide p.slide__price {
  display: inline-block;
  vertical-align: bottom;
  padding: 10px 14px;
  border: 2px solid #7cc576;
  border-radius: 70px;
}
/*@media*/
@media (max-width: 1000px) {
  .header .main-menu {
    margin-bottom: 10px;
  }
  .phone-link {
    white-space: nowrap;
  }
  .content .content-col {
    width: 67%;
  }
  .contact-form__left-col {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .contact-form__left-col img {
    margin-bottom: 15px;
  }
  .map__col-left .map-text {
    margin-right: 40px;
  }
  .map__col-right .show-map {
    text-align: center;
  }
  .footer__col:nth-child(3) {
    display: none;
  }
  .services .tab-list {
    justify-content: center !important;
  }
  .services .tab-list__item {
    margin: 8px;
  }
  .advantages-wr .advantages-plus__col {
    width: 50%;
    height: 290px;
  }
  .advantages-wr .advantages-plus__item {
    height: 270px;
  }
  .advantages-wr .advantages-plus__heading {
    font-size: 22px;
  }
  .advantages-wr .advantages-plus__text {
    font-size: 16px;
  }
  .value__col-left {
    width: 55%;
  }
  .registration-wr .registration:after {
    content: '';
    display: table;
    clear: both;
  }
  .registration-wr .registration .registration__footer {
    display: block;
  }
  .registration-wr .registration__col-left {
    display: none;
  }
  .registration-wr .registration__col-right {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .registration-wr .registration__col-right .registration-form .h3 {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .registration-wr .registration__col-right .registration-form .form-col {
    width: 100%;
    float: none;
    text-align: center;
  }
  .registration-wr .registration__col-right .btn--call {
    font-size: 14px !important;
    width: 220px !important;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .registration-wr .registration__col-right--img {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 22px;
  }
  .registration-wr .registration__col-right--img .registration-form {
    float: none;
    width: 100%;
  }
  .registration-wr .registration__col-right--img .registration-form .h3 {
    margin-bottom: 24px;
  }
  .tabs-block .tab-list {
    margin-bottom: 25px;
  }
  .tabs-block .tab-list__item {
    font-size: 18px;
    margin: 10px;
  }
  .other-services ul li {
    margin: 10px;
  }
  .btn--book {
    display: block;
    margin-bottom: 10px;
    min-width: 114px;
  }
}
@media (max-width: 768px) {
  .h2 {
    font-size: 22px;
  }
  .h3 {
    font-size: 20px;
  }
  .phone-link {
    margin-bottom: 10px;
  }
  .text-grow {
    font-size: 14px;
  }
  .header-wr {
    border-bottom: 4px solid #ff0000;
  }
  .header-wr.header-wr--border {
    border-color: #fff;
  }
  .header-wr .header {
    position: relative;
    border-bottom: none;
    flex-direction: column;
    align-items: stretch;
  }
  .header-wr .header .icon-bar {
    display: block;
  }
  .header-wr .header__item-center .search-form {
    display: none;
  }
  .header-wr .header__item-center .main-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 60px;
    right: 0px;
    list-style: none;
    border: 1px solid #ccc;
    width: 250px;
    z-index: 2;
  }
  .header-wr .header__item-center .main-menu li {
    display: block;
    text-align: center;
    margin-right: 0;
  }
  .header-wr .header__item-center .main-menu li a {
    padding: 10px;
    display: block;
    line-height: 35px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .header-wr .header__item-center .main-menu li a:hover {
    text-decoration: underline;
  }
  .header-wr .header__item:nth-child(1),
  .header-wr .header__item:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-wr .header__item .logo {
    margin-right: 0;
  }
  .header-wr .header__item .logo img {
    width: 215px;
  }
  .header-wr .header__item:nth-child(1) {
    margin-bottom: 10px;
  }
  .header-wr .header__item:nth-child(3) {
    flex-wrap: wrap;
  }
  .content-wr {
    margin-top: 50px;
  }
  .content-wr .sidebar {
    width: 100%;
    padding: 50px 30px;
    margin-top: 70px;
  }
  .content-wr .sidebar.sidebar--advantages {
    padding: 25px 25px 35px;
  }
  .content-wr .sidebar.sidebar--advantages .sidebar-list {
    flex-direction: column;
    margin-top: 0;
  }
  .content-wr .sidebar.sidebar--advantages .sidebar-list .sidebar__item {
    margin-top: 36px;
  }
  .content-wr .sidebar.sidebar--advantages .sidebar-list .sidebar__text {
    padding: 0 25px;
    font-size: 16px !important;
  }
  .content-wr .sidebar.sidebar--advantages .sidebar-footer__item {
    margin-top: 45px;
  }
  .content-wr .sidebar.sidebar--advantages .sidebar-footer__item img {
    width: 215px;
  }
  .content-wr .sidebar .sidebar-footer__item img {
    width: 60%;
  }
  .content-wr .sidebar__text {
    font-size: 20px !important;
  }
  .content-wr .content .content-col {
    width: 100%;
    padding: 0 5px;
  }
  .content-wr .content .content-col .h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .contact-form {
    flex-direction: column;
  }
  .contact-form__left-col {
    flex-direction: column !important;
    width: 100% !important;
    flex-direction: row;
    align-items: center !important;
  }
  .contact-form__left-col img {
    margin-bottom: 15px;
    margin-right: 0 !important;
  }
  .contact-form__right-col {
    width: 100% !important;
  }
  .contact-form__right-col .form input {
    width: 260px !important;
  }
  .contact-form__text .name {
    font-size: 27px !important;
  }
  .footer-wr .footer {
    display: none;
  }
  .footer-wr .mobile-footer {
    display: block;
  }
  .footer-wr .mobile-footer__tel {
    display: block;
    text-align: center;
  }
  .footer-wr .mobile-footer__tel .tel-text {
    font-size: 22px;
    color: #000;
  }
  .footer-wr .mobile-footer:after {
    content: '';
    display: table;
    clear: both;
  }
  .btn--complaint {
    font-size: 18px;
    padding: 10px 15px;
  }
  .btn--recall {
    margin-top: 0 !important;
    letter-spacing: 1px;
    line-height: 1.2;
    white-space: nowrap;
    font-size: 12px;
  }
  .complaints {
    display: block;
  }
  .map-wr {
    margin-bottom: 42px;
  }
  .map-wr .map__col-right .show-map {
    white-space: nowrap;
    max-width: 217px;
  }
  .map-wr .map__col-left h3 {
    font-size: 26px;
    white-space: nowrap;
  }
  .map-wr .map__col-left .map-text {
    margin-right: 0;
  }
  .advantages-wr .advantages .advantages-list {
    flex-wrap: wrap;
  }
  .advantages-wr .advantages__item {
    width: 50%;
    margin-bottom: 20px;
  }
  .services-wr .services__head .text-grow {
    padding: 30px 15px 40px;
  }
  .services-wr .services .tab-list {
    margin-bottom: 0;
  }
  .value .value-list {
    font-weight: normal;
    font-size: 16px;
  }
  .value .value-list li {
    margin-top: 10px;
  }
  .value .value-list li:first-child {
    margin-top: 30px;
  }
  .value__col-right {
    width: 100%;
    margin-top: 40px;
  }
  .value__col-right .waste-list li {
    font-size: 16px;
  }
  .advantages-wr .advantages-plus__col {
    width: 100%;
    height: 290px;
  }
  .advantages-wr .advantages-plus__item {
    width: 70%;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  .value__col-left {
    width: 100%;
  }
  .tabs-block .box-tab .tab-cont .tab-table {
    border-radius: 5px;
  }
  .tabs-block .box-tab .tab-cont .tab-table__row {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-right: 135px;
    padding-left: 42px;
  }
  .tabs-block .box-tab .tab-cont .tab-table__row:last-child {
    border-bottom: none;
  }
  .tabs-block .box-tab .tab-cont .tab-table__row.head {
    display: none;
  }
  .tabs-block .box-tab .tab-cont .tab-table__row:hover {
    background-color: #fff568;
  }
  .tabs-block .box-tab .tab-cont .tab-table__cell {
    display: inline-block;
    border: none;
    font-weight: bold;
    padding: 0 5px;
  }
  .tabs-block .box-tab .tab-cont .tab-table__cell:first-child,
  .tabs-block .box-tab .tab-cont .tab-table__cell:last-child {
    display: block;
  }
  .tabs-block .box-tab .tab-cont .tab-table__cell:first-child {
    padding: 15px 5px;
  }
  .tabs-block .box-tab .tab-cont .tab-table__cell:last-child {
    padding: 20px 0 25px;
  }
  .tabs-block .box-tab .tab-cont .tab-table__cell span.icon-flag {
    display: none;
  }
  .tabs-block .box-tab .tab-cont .tab-table__cell span:before {
    content: attr(data-mob-text);
    font-weight: normal;
  }
  .btn--book {
    display: inline-block;
    margin-bottom: 0px;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .contact-form__right-col {
    padding: 35px 3px !important;
  }
  .map__col-left img {
    margin-left: 30px;
  }
  .map__topline {
    flex-direction: column;
    align-items: center;
  }
  .map__topline .show-map {
    margin-top: 20px;
  }
  .mobile-footer__col {
    float: left;
  }
  .mobile-footer__tel {
    text-align: left !important;
    margin-bottom: 10px;
  }
  .btn--buy {
    font-size: 16px;
    padding: 15px 30px;
    font-weight: normal;
  }
  .advantages-wr .advantages .advantages-list {
    margin-top: 40px;
  }
  .advantages-wr .advantages__item {
    width: 100%;
    margin-bottom: 35px;
  }
  .advantages-wr .advantages__img {
    margin-bottom: 14px;
  }
  .advantages-wr .advantages-plus__item {
    width: 100%;
  }
  .services-wr .services .tab-list__item {
    font-size: 17px;
  }
  .map__col-left .h3 {
    font-size: 22px !important;
  }
  .map__col-left .map-text {
    margin-right: 0;
  }
  .map__col-left img {
    margin-left: 0;
  }
  .registration-wr .registration__footer .alpha-footer {
    max-width: 178px;
  }
  .registration-wr .registration__footer .alpha-footer img {
    padding: 10px 25px;
  }
  .registration-wr .registration__col-right {
    padding: 35px 15px 30px;
  }
  .registration-wr .registration__col-right .registration-form input {
    width: 240px;
  }
  .registration-wr .registration__col-right .registration-form label {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .header-wr .header__item-center .main-menu {
    width: 100%;
  }
  .tabs-block .box-tab .tab-cont .tab-table__row {
    padding-right: 5px;
    padding-left: 10px;
  }
  .tabs-block .box-tab .tab-cont .registration-slider__slide a {
    width: 125px;
  }
  .tabs-block .box-tab .tab-cont .registration-slider__slide p {
    font-size: 14px;
  }
  .content-wr .sidebar.sidebar--advantages .sidebar-list .sidebar__text {
    font-size: 14px !important;
  }
}
