body {
	font-family: "Lato"; 
	line-height: 1.2;
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.wrap {
	width: 100%;
	padding: 0 15px;
	min-width: 320px;
	max-width: 1000px;
	margin: 0 auto;
}

.h2 {
	font-size: 29px;
	line-height: 1.2;
	font-weight: normal;
}

.h3 {
	font-size: 24px;
	line-height: 1.2;
}

.btn {
	display: inline-block;
	cursor: pointer;
	transition: all .3s;
	&:hover {
		cursor: pointer;
		background-color: #ff0000;
	}
}

.btn--green {
	background-color: #7cc576;
	text-transform: uppercase;
	border: none !important;
	border-radius: 3px;
	text-align: center;
}

.btn--recall {
	padding: 8px 15px;
	color: #fff;
	margin-top: 13px;
	font-size: 11px;
	line-height: 10px; 
	float: right;

}

.btn--call {
	color: #000 !important;
	padding: 18px 25px;
	max-width: 267px;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	letter-spacing: 3px;
	margin-top: 18px;
}

.btn--complaint {
	margin-top: 15px;
	border: 2px solid #9fd49b;
	border-radius: 70px;
	padding: 20px 55px;
	font-size: 22px;
	background-color: #fff;
	&:hover {
		color: #fff;
		border-color: #ff0000;
	}
}

.btn--buy {
	display: block;
	color: #fff !important;
	padding: 22px 48px;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 3px;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
}

.btn--book {
	text-transform: uppercase;
	padding: 10px;
	font-size: 12px;
	color: #fff;
	letter-spacing: 2px;
	margin-right: 8px;
	border: 1px solid #7cc576;
	max-width: 114px;

}

.btn--more {
	text-transform: uppercase;
	padding: 10px;
	font-size: 12px;
	color: #6c6c6c;
	letter-spacing: 2px;
	border: 1px solid #6c6c6c;
	background-color: #fff;
	border-radius: 5px;
	&:hover {
		color: #fff;
		background-color: #6c6c6c;
	}
}

.text-grow {
	font-size: 18px;
}

.search-form {
	position: relative;
	&__text {
		height: 51px;
		line-height: 51px;
		padding: 0 31px 0 15px;
		border: 2px solid #ccc;
		width: 250px;
		&::placeholder {
			color: #000;
			font-family: "Lato";
			font-weight: bold;
			font-size: 15px;
		}
	}
	&__button {
		position: absolute;
		width: 40px;
		height: 47px;
		top: 2px;
		right: 2px;
		color: transparent;
		border: none;
		font-size: 15px;
		background-color: #fff;
	} 
	span {
		font-size: 23px;
		position: absolute;
		z-index: 1;
		top: 12px;
		right: 10px;
	}
}

span[class$="--red"] {
	color: #d23546;
}

.phone-link {
	font-size: 23px;
	font-weight: bold;
	span {
		display: inline-block;
		vertical-align: top;
		&:before {
			line-height: 25px;
		}
	}
}	

.header-wr {
	.header {
		width: 100%;
		border-bottom: 4px solid #ff0000;
		padding: 18px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.icon-bar {
			display: none;
		}
		.icon-bar {
			width: 40px;
			height: 30px;
			background: url('../img/icon-bar.png') no-repeat  left top  #fff;
			background-size: contain;
			border: none;
			margin-left: 25px;
		}
		&__item-center {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
			.main-menu {
				list-style: none;
				li {
					display: inline;
					margin-right: 13px;
				}
			}
		}
		&__item {
			.logo {
				display: block;
				margin-right: 13px;
			}	
		}
	}
}

.content-wr {
	margin-top: 10px;
	.content {
		.clearfix;
	}
	.content-col {
		float: left;
		width: 74%;
		padding-right: 20px;
		padding-top: 20px;
		
		p {
			margin-top: 20px;
			font-size: 16px;
			line-height: 1.2;
		}
	}
	.sidebar {
		float: right;
		width: 232px;
		background-color: #ebebeb;
		padding: 30px 15px 25px;
		text-align: center;

		&__item {
			margin-top: 35px;
		}
		&__img {
			margin-bottom: 15px;
		}
		&__text {
			padding: 0 20px;
			font-size: 16px;
			line-height: 1.2;
		}
		.sidebar-footer {
			&__item {
				margin-top: 65px;
				img {
					width: 98%;
				}
			}
		}
		&.sidebar--advantages {
			float: none;
			width: 100%;
			padding: 38px 38px 48px;
			.sidebar-list {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 60px;
				.sidebar__item {
					margin-top: 0;
				}
				.sidebar__text {
					padding: 0 25px;
				}
			}
			.sidebar-footer {
				&__item {
					margin-top: 45px;
					img {
						width: 215px;
					}
				}
			}
		}
	}
}

.contact-form-wr {
	margin-top: 15px;
	.contact-form {
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 5px;
		display: flex;
		align-items: center;
		.clearfix;
		&__left-col {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 50%;
			padding: 30px 35px;
			background-color: #a81d36;
			color: #fff;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			img {
				margin-right: 30px;
			}
		}
		&__text {
			.name {
				font-size: 24px;
				line-height: 1.2;
			}
			.tel {
				margin-top: 25px;
				font-size: 18px;
				font-weight: bold;
			}
			a{
				color: #fff;
				&:hover {
					text-decoration: underline;
				}
			}
			p {
				line-height: 1.3;
			}
		}
		&__right-col {
			width: 50%;
			padding: 35px 0;
			.form {
				text-align: center;
				input, label {
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
				label {
					margin: 15px 0 10px;
					font-size: 12px;
				}
				input {
					padding: 0 15px;
					line-height: 50px;
					border: 2px solid #ccc;
					width: 312px;
					height: 50px;
				}
			}
		}
	}
}

.map-wr {
	margin: 20px 0;
	.map {
		&__topline {
			padding: 40px;
			background-color: #e8e8e8;
			border-radius: 5px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__col-left {
			display: flex;
			align-items: center;
			img {
				flex-shrink: 0;
				margin-right: 20px;
			}
			.map-text {
				flex-grow: 1;
			}
		}
		&__col-right {
			.show-map {
				padding: 10px 15px;
				background-color: #fff;
				max-width: 250px;
				border-radius: 3px;
				display: flex;
				align-items: center;
				&:hover {
					cursor: pointer;
				}
				&._open img {
					transform: rotate(180deg);
				}
				span {
					text-transform: uppercase;
					letter-spacing: 3px;
					font-weight: bold;
					font-size: 12px;
				}
				img {
					margin-right: 15px;
					transition: all .3s;
				}
			}
		}
		&__container {
			display: none;
			width: 100%;
			&._open {
				display: block;
			}
		}
	}
}

.footer-wr {
	padding: 0 0 50px;
	.footer {
		padding-top: 20px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #ccc;
		font-size: 14px;
		&__tel {
			margin-top: 20px;
		}
		&__col {
			
			padding-right: 18px;
			&:last-child {
				padding-right: 0;
			}
			a {
				display: block;
				color: #767676;
				margin-top: 10px;
				line-height: 1.5;
				position: relative;
				padding-left: 26px;
				.clearfix;
				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
				
				span {	
					&.tel-text {
						font-size: 20px;
						font-weight: bold;
					}
				}
				span[class^="icon"] {
					position: absolute;
					top:0;
					left: 0;
					&:before {
						font-size: 23px;
					}	
				}
			}
		}
		&__logo {
			padding-left: 0 !important;
			img {
				width: 150px;
			}
		}
	}
}

.complaints {
	margin-top: 25px;
	margin-bottom: 30px;
	text-align: center;
}

.mobile-footer {
	display: none;
	margin-top: 40px;
	width: 100%;
	font-size: 18px;
	.clearfix;
	&__tel {
		text-align: center;
		font-size: 26px !important;
		font-weight: bold !important;
		margin-bottom: 45px;
		span {
			vertical-align: middle;
		}
	}
	&__col-left {
		float: left;
	}
	&__col-right {
		float: right;
	}
	&__col {
		a {
			display: block;
			color: #767676;
			margin-top: 10px;
			line-height: 1.5;
			position: relative;
			padding-left: 26px;
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			
			span {	
				&.tel-text {
					color: #000;
				}
			}
			span[class^="icon"] {
				position: absolute;
				top:0;
				left: 0;
				&:before {
					font-size: 23px;
				}	
			}
		}
	}
}


.services-wr {
	margin: 32px 0 20px;
	.services {
		&__head {
			text-align: center;
			.text-grow {
				padding: 35px 35px 50px;
			}
		}
		.box-tab {
			.hide {
				display: none;
			}
			.tab-cont  {
				opacity: 1;
				transition: opacity 0.4s;
				.hide {
					display: none;
				}
			}
		}
		.tab-list {
			list-style: none;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 30px;
			&__item {
				font-size: 19px;
				font-weight: bold;
				background-color: #e8e8e8;
				border-radius: 70px;
				border: 2px solid #e8e8e8;
				a {
					display: block;
					padding: 10px 26px;
				}
				&.active {
					background-color: #fff;
					border: 2px solid #7cc576;
				}
				&:hover {
					background-color: #fff;
					border: 2px solid #7cc576;
				}
			}
		}
	}
}

.advantages-wr {
	.advantages {
		padding: 40px 24px;
		background-color: #ccc;
		border-radius: 5px;
		text-align: center;
		margin: 25px 0 30px;
		.advantages-list {
			margin-top: 60px;
			display: flex;
			justify-comtent: space-between;
		}
		&__item {
			width: 25%;
		}
		&__img {
			margin-bottom: 20px;
		}
		&__text {
			font-size: 16px;
			padding: 0 30px;
		}
	}
	.advantages-plus {
		text-align: center;
		margin-left: -10px;
		margin-right: -10px;
		.clearfix;
		&__col {
			width:33.3333%;
			height: 322px;
			float: left;
			padding: 10px;
		}
		&__item {
			height: 302px;
			padding: 26px 42px 32px 42px;
			border: 1px solid #ccc;
			border-radius: 5px;
		}
		&__text {
			font-size: 19px;
		}
		&__heading {
			font-size: 29px;
			margin: 30px 0 35px;
		}
	}
}
.registration-wr {
	margin-top: 20px;
	&.registration-wr--margin {
		margin-top: -6px;
		margin-bottom: 30px;
	}
	.registration {
		.clearfix;
		padding: 10px;
		background-color: #ee3124;
		border-radius: 5px;
		&__footer {
			display: none;
			text-align: center;
			.alpha-footer {
				display: inline-block;
				border: 2px dashed #fff;
				border-radius: 5px;
				vertical-align: middle;
				margin-top: 20px;
				img {
					vertical-align: middle;
					padding: 10px 34px;
					width: 100%;
				}
			}
		}
		&__col-left {
			float: left;
			text-align: center;
			width: 215px;
			line-height: 270px;
			.alpha {
				display: inline-block;
				width: 168px;
				height: 168px;
				border: 2px dashed #fff;
				border-radius: 5px;
				vertical-align: middle;
				line-height: 168px;
				img {
					vertical-align: middle;
				}
			}
		}
		&__col-right {
			float: right;
			max-width: 718px;
			background-color: #fff;
			padding: 35px 65px 30px;
			.registration-form {
				.clearfix;
				.h3 {
					margin-bottom: 17px;
				}
				.form-col {
					float: left;
					width: 50%;
					margin-bottom: 15px;
				}
				input {
					padding: 0 15px;
				    line-height: 50px;
				    border: 2px solid #ccc;
				    height: 50px;
				    width: 286px;
				    &.btn--call {
				    	color: #fff !important;
				    	display: block;
				    	margin-left: auto;
				    	margin-right: auto; 
				    }
				}
				label {
					display: block;
				}
			}
		}
		&__col-right--img {
			background: url('../img/photo.png') no-repeat  left bottom  #fff;
			padding-top: 40px;
			padding-bottom: 40px;
			.registration-form {
				.h3 {
					margin-bottom: 28px;
				}
				float: right;
				width: 50%;
				.form-col {
					float: none;
				}
			}
		}
		&__col-left--img {	
			line-height: 409px;
			.alpha {
				width: 205px;
				height: 205px;	
				display: inline-block;
				line-height: 205px;
				img {
					width: 100%;
					padding: 15px;	

				}
			}	
		}
	}
}

.value {
	.clearfix;
	&__col-left {
		float: left;
		width: 65%;
		.value-list {
			font-size: 19px;
    		font-weight: bold;
			margin-left: 20px;
			
			li {
				margin-top: 30px;
			}
		}
	}
	&__col-right {
		float: right;
		width: 314px;
		.waste-list {
			border: 1px solid #e8e8e8;
			border-radius: 5px;
			list-style: none;
			padding-bottom: 20px;
			li {
				padding: 20px 40px 0 25px;
				font-size: 19px;
				&:first-child, &:last-child {
					padding-bottom: 20px;
				}
			}
			&__header {
				background-color: #e8e8e8;
				color: #bdbdbd;
				text-transform: uppercase;
				font-size: 12px !important;
				line-height: 2;
			}
		}
	}
}

.other-services {
	margin: 30px 0;
	text-align: center;
	.h2 {
		margin-bottom: 30px;
	}
	ul {
		list-style: none;
		font-size: 18px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		li {
			margin: 0 11px;
		}
		&.head-list {
			margin-bottom: 25px;
			.head__item {
				a {
					display: block;
					border: 2px solid #7cc576;
					border-radius: 70px;
					padding: 10px 25px;
					&:hover {
						background-color: #7cc576;
						color: #fff;
					}
				}
			}
		}	
	}
}

.tabs-block {
	.tab-list {
		list-style: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 35px;
		&__item {
			font-size: 29px;
			font-weight: bold;
			background-color: #e8e8e8;
			border-radius: 70px;
			border: 2px solid #e8e8e8;
			margin: 0 12px;
			text-align: center;
			a {
				display: block;
				padding: 13px 30px;
			}
			&.active {
				background-color: #fff;
				border: 2px solid #7cc576;
			}
			&:hover {
				background-color: #fff;
				border: 2px solid #7cc576;
			}
		}
	}
	.box-tab {
		.hide {
			display: none;
		}
		.tab-cont {
			text-align: center;
			opacity: 1;
			transition: opacity 0.4s;
			.hide {
				display: none;
			}
			.tab-table {
				display: table;
				overflow: hidden;
				width: 100%;
				text-align:  left;
				margin-top: 60px;
				border: 1px solid #ccc;
				border-radius: 5px;
				font-size:  16px;
				&.hide {
					display: none;
				}
				&__row {
					display: table-row;
					&:last-child .tab-table__cell {
						border-bottom: none;
					}
					&:hover {
						.tab-table {
							&__cell {
								background-color: #fff568;
							}
						}
					}
					&.head:hover {
						.tab-table {
							&__cell {
								background-color: transparent;
							}
						}
					}
				}
				&__cell {
					display: table-cell;
					border-bottom: 1px solid #ccc;
					padding: 18px;
					vertical-align: middle;
					.title {
						position: relative;
					}
					span {
						b {
							font-size: 19px;
							display: inline-block;
							margin-left: 25px;
						}
						&.icon-flag {
							position: absolute;
							top: 50%;
							left: 0;
							margin-top: -8px;
							&:before {
							}
						}
					}
				}
				&__title {
					text-transform: uppercase;
					font-size: 12px;
					font-weight: bold;
					color: #ccc;
				}
			}
			p {
				font-size: 14px;
				line-height: 1.3;
				margin-bottom: 20px;
			}
			.registration-slider {
				.slick-list {
					margin-left: -1px;
					margin-right: -1px;
				}
				.slick-dots li button:before {
				    font-size: 14px;
				    color: #7cc576;
				 }
				&__slide {
					a {
						display: block;
						height: 156px;
						padding: 15px 4px 18px;
						border: 1px solid #fff;
						&.active {
							background-color: #fff568;
							border: 1px solid #ccc;
							border-radius: 5px;
						}
					}
					p {
						font-size: 16px;
						font-weight: bold;
						margin-bottom: 0;
						&.slide__name {
							overflow: hidden;
							height: 60px;	
							margin-bottom: 15px;
							line-height: 60px;
							span {
								line-height: normal;
								display: inline-block;
								vertical-align: middle;

							}					
						}
						&.slide__price {
							display: inline-block;
							vertical-align: bottom;
							padding: 10px 14px;
							border: 2px solid #7cc576;
							border-radius: 70px;
						}
					}
				}
			}
		}
	}
}

/*@media*/

@media (max-width: 1000px){
	.header {
		.main-menu {
			margin-bottom: 10px;
		}
	}
	.phone-link {
		white-space: nowrap;
	}
	.content {
		.content-col {
			width: 67%;
		}
	}
	.contact-form {
		&__left-col {
			flex-direction: column;
			justify-content: center;
			text-align: center;
			img {
				margin-bottom: 15px;
			}
		}
	}
	.map {
		&__col-left {
			.map-text {
				margin-right: 40px;
			}
		}
		&__col-right {
			.show-map {
				text-align: center;
			}
		}
	}
	.footer {
		&__col {
			&:nth-child(3) {
				display: none;
			}
		}
	}
	.services {
		.tab-list {
			justify-content: center !important;
			&__item {
				margin: 8px;
			}
		}
	}
	.advantages-wr {
		.advantages-plus {
			&__col {
				width: 50%;
				height: 290px;
			}
			&__item {
    			height: 270px;
    		}
    		&__heading {
    			font-size: 22px;
    		}
    		&__text {
    			font-size: 16px;
    		}
    	}
    }
    .value {
		&__col-left {
			width: 55%;
		}
	}
	.registration-wr {
		.registration {
			.clearfix;
			.registration__footer {
				display: block;
			}
			&__col-left {
				display: none;
			}
			&__col-right {
				float: none;
				margin-left: auto;
				margin-right: auto;
				max-width: 100%;
				.registration-form {
					.h3 {
						font-size: 20px;
						margin-bottom: 40px;
					}
					.form-col {
						width: 100%;
						float: none;
						text-align: center;
					}
				}
				.btn--call {
					font-size: 14px !important;
					width: 220px !important;
					margin-left: auto;
					margin-right: auto;
					font-weight: normal;
					letter-spacing: 1px;
				}
			}
			&__col-right--img {
				background: #fff;
				padding-top: 20px;
				padding-bottom: 22px;
				.registration-form {
					.h3 {
						margin-bottom: 24px;
					}
					float: none;
					width: 100%;
				}
			}
		}
	}
	.tabs-block {
		.tab-list {
			margin-bottom: 25px;
			&__item {
				font-size: 18px;
				margin: 10px;
			}
		}
	}
	.other-services {
		ul {
			li {
				margin: 10px;
			}
		}
	}
	.btn--book {
		display: block;
		margin-bottom: 10px;
		min-width: 114px;
	}
}

@media (max-width: 768px){
	.h2 {
		font-size: 22px;
	}
	.h3 {
		font-size: 20px;
	}
	.phone-link {
		margin-bottom: 10px;
	}
	.text-grow {
		font-size: 14px;
	}
	.header-wr {
		border-bottom: 4px solid #ff0000;
		&.header-wr--border {
			border-color: #fff;
		}
		.header {
			position: relative;
			border-bottom: none;
			flex-direction: column;
			align-items: stretch;
			.icon-bar {
				display: block;
			}
			&__item-center {
				.search-form {
					display: none;
				}
				.main-menu {
					display: none;
					position: absolute;
					background-color: #fff;
					top: 60px;
					right: 0px;
					list-style: none;
					border: 1px solid #ccc;
					width: 250px;
					z-index: 2;
					li {
						display: block;
						text-align: center;
						margin-right: 0;
						a {
							padding: 10px;
							display: block;
							line-height: 35px;
							font-size: 18px;
							text-transform: uppercase;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
			&__item {
				&:nth-child(1), &:nth-child(3) {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
				.logo {
					margin-right: 0;
					img {
						width: 215px;
					}
				}
				&:nth-child(1) {
					margin-bottom: 10px;
				}
				&:nth-child(3) {
					flex-wrap: wrap;
				}
			}
		}
	}
	.content-wr {
		margin-top: 50px;
		.sidebar {
			width: 100%;
			padding: 50px 30px;
			margin-top: 70px;
			&.sidebar--advantages {
				padding: 25px 25px 35px;
				.sidebar-list {
					flex-direction: column;
					margin-top: 0;
					.sidebar__item {
						margin-top: 36px;
					}
					.sidebar__text {
						padding: 0 25px;
						font-size: 16px !important;
					}
				}
				.sidebar-footer {
					&__item {
						margin-top: 45px;
						img {
							width: 215px;
						}
					}
				}
			}
			&__img {

			}
			.sidebar-footer__item {
				img {
					width: 60%;
				}
			}
			&__text {
				font-size: 20px !important;
			}
		}
		.content {
			.content-col {
				width: 100%;
				padding: 0 5px;
				.h2 {
					text-align: center;
					margin-bottom: 30px;
				}
			}
		}
	}	
	.contact-form {
		flex-direction: column;
		&__left-col {
			flex-direction: column !important;
			width: 100% !important;
			flex-direction: row;
			align-items: center !important;
			img {
				margin-bottom: 15px;
				margin-right: 0 !important;
			}
		}
		&__right-col {
			width: 100% !important;
			.form {
				input {
					width: 260px !important;
				}
			}
		}
		&__text {
			.name {
				font-size: 27px !important;
			}
		}
	}
	.footer-wr {
		.footer {
			display: none;
		}
		.mobile-footer {
			&__col {
			}
			&__tel {
				display: block;
				text-align: center;
				.tel-text {
					font-size: 22px;
					color: #000;
				}
			}
			display: block;
			.clearfix;
		}
	}
	.btn--complaint {
		font-size: 18px;
		padding: 10px 15px;
	}
	.btn--recall {
		margin-top: 0 !important;
		letter-spacing: 1px;
		line-height: 1.2;
		white-space: nowrap;
		font-size: 12px;
	}
	.complaints {
		display: block;
	}
	.map-wr {
		margin-bottom: 42px;
		.map {
			&__col-right {
				.show-map {
					white-space: nowrap;
					max-width: 217px;
				}
			}
			&__col-left {
				h3 {
					font-size: 26px;
					white-space: nowrap;
				}
				.map-text {
					margin-right: 0;
				}
			}	
		}
	}
	.advantages-wr {
		.advantages {
			.advantages-list {
				flex-wrap: wrap;
			}
			&__item {
				width: 50%;
				margin-bottom: 20px;
			}
		}
	}
	.services-wr {
		.services {
			&__head {
				.text-grow {
					padding: 30px 15px 40px;
				}
			}
			.tab-list {
				margin-bottom: 0;
			}
		}
	}
	.value {
		.value-list {
			font-weight: normal;
			font-size: 16px;
			li {
				margin-top: 10px;
				&:first-child {
					margin-top: 30px;
				}
			}
		}
		&__col-right {
			width: 100%;
			margin-top: 40px;
			.waste-list {
				li {
					font-size: 16px;
				}
			}

		}
	}
	.advantages-wr {
		.advantages-plus {
			&__col {
				width: 100%;
				height: 290px;
			}
			&__item {
    			width: 70%;
    			height: 270px;
    			margin-left: auto;
				margin-right: auto;
    		} 
    	}
    }
    .value {
		&__col-left {
			width: 100%;
		}
	}
	.tabs-block {
		.box-tab {
			.tab-cont {
				.tab-table {
					border-radius: 5px;
					&__row {
						display: block;
						border-bottom: 1px solid #ccc;
						padding-right: 135px;
						padding-left: 42px;
						&:last-child {
							border-bottom: none;
						}
						&.head {
							display: none;
						}
						&:hover {
							background-color: #fff568;
						}
					}
					&__cell {
						display: inline-block;
						border: none;
						font-weight: bold;
						padding: 0 5px;
						&:first-child, &:last-child {
							display: block;
						}
						&:first-child {
							padding: 15px 5px;
						}
						&:last-child {
							padding: 20px 0 25px;
						}
						span {
							&.icon-flag {
								display: none;
							}
							&.mob-text {
							}
							&:before {
								content: attr(data-mob-text);
								font-weight: normal;
							}
						}
					}
				}
			}
		}
	}
	.btn--book {
		display: inline-block;
		margin-bottom: 0px;
		min-width: 0;
	}				
}

@media (max-width: 640px){
	.contact-form {
		&__right-col {
			padding: 35px 3px !important;
		}
	}
	.map {
		&__col-left {
			img {
				margin-left: 30px;
			}
		}
		&__topline {
			flex-direction: column;
			align-items: center;
			.show-map {
				margin-top: 20px;
			}
		}
	}
	.mobile-footer {
		&__col {
			float: left;
		}
		&__tel {
			text-align: left !important;
			margin-bottom: 10px;
		}
	}
	.btn--buy {
		font-size: 16px;
		padding: 15px 30px;
		font-weight: normal;
	}
	.advantages-wr {
		.advantages {
			.advantages-list {
				margin-top: 40px;
			}
			&__item {
				width: 100%;
				margin-bottom: 35px;
			}
			&__img {
				margin-bottom: 14px;
			}
		}
		.advantages-plus {
			&__item {
				width: 100%;
			}
		}
	}
	.services-wr {
		.services {
			.tab-list__item {
   				 font-size: 17px;
   			}
   		}
   	}
    .map {
		&__col-left {
			.h3 {
				font-size: 22px !important;
			}
			.map-text {
				margin-right: 0;
			}
			img{
				margin-left: 0;
			}
		}	
	}
	.registration-wr {
		.registration {
			&__footer {
				.alpha-footer {
					max-width: 178px;
					img {
						padding: 10px 25px;
					}
				}
			}
			&__col-right {
				padding: 35px 15px 30px;
				.registration-form {
					input {
						width: 240px;
					}
					label {
						font-size: 12px;
					}
				}
			}
		}
	}
}

@media (max-width: 480px){
	.header-wr {
		.header {
			&__item-center {
				.main-menu {
					width: 100%;
				}
			}
		}
	}
	.tabs-block {
		.box-tab {
			.tab-cont {
				.tab-table {
					&__row {
						padding-right: 5px;
						padding-left: 10px;
					}
				}
				.registration-slider {
					&__slide {
						a {
							width: 125px;
						}
						p {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.content-wr {
		.sidebar {
			&.sidebar--advantages {
				.sidebar-list {
					.sidebar__text {
						font-size: 14px !important;
					}
				}
			}
		}
	}
}